{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    

    
    
   

	<h4>Connexion</h4>

	

	<div class="card text-white bg-primary mb-3 m-3 col-6" style="max-width: 20rem;">
		<div class="card-body">
			<h4 class="card-title p-2">Vous êtes maraîcher ?</h4>
			<form action="{{ path('maraicher_login')}}" method="POST">

				<div class="form-group mb-2 mt-3">
					<input placeholder="Adresse email" id="username" name="_username" type="text" class="form-control">
				</div>
				<div class="form-group mb-2">
					<input placeholder="Mot de passe" id="password" name="_password" type="password" class="form-control">
				</div>
				<div class="form-group">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					<button type="submit" class="btn btn-dark w-100">Connexion</button>
				</div>

			</form>
			<p>Nouveau maraîcher ?
				<a class="text-light" href="{{path('maraicher_inscription')}}">Inscrivez-vous</a>
			</p>
		</div>
	</div>


{% endblock %}
