{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<h1>Résumé de la commande :</h1>


 {{ form_start(formCommande) }}
   
        <div class="row">
            <div class="col-6">
                {{ form(formCommande) }}
            </div>
        </div>
        
    {{ form_end(formCommande) }}
{% endblock %}
